* {
 margin: 0;
padding: 0;
box-sizing: border-box;
font-family: gilroy;
}
html,
body{
width: 100%;
height: 100%;
}
.main{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100%;
    height: 85vh;
    background-color: rgb(0, 0, 0);
    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 7px;
}
.con1{
    width: 4.6%;
    height: 85vh;
    /* background-color: aqua; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.home{
    width: 100%;
    height: 15vh;
    background-color: rgb(18,18,18);
    border-radius: 5px;
    margin-top: 2px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
}
.lib{
    width: 100%;
    height: 67vh;
    background-color: rgb(18,18,18);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 27px;
    color: white;
    text-align: center;
    padding: 10px;
}
.artist{
    width: 100%;
    height: 90%;
    margin-top: 10px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex-wrap:nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    
}
.artist::-webkit-scrollbar{
    display: none;
}
.artist>img{
    width: 3.2vw;
    height: 3.2vw;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
    margin-top: 20px;
}
.con2{
    width: 94.5%;
    height: 83vh;
    background-color: rgb(69,101,125);
    border-radius: 5px;
    overflow: scroll;
    position: relative;
}
.con2::-webkit-scrollbar{
    display: none;
}
.nav{
    border-radius: 5px;
    margin-top: 7px;
    position:fixed;
    overflow: hidden;
    width: 93.9%;
    top: 0;
    height: 10vh;
    background-color: rgb(69,101,125);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.nav-part1{
    font-size: 5vh;
    color: white;
    
}
.nav-part1>i{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.472);
    /* padding: 6px; */
    border-radius: 50px;
}
.nav-part2{
    width: 25%;
    height: 100%;
    font-size: 2.5vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-part2>i{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.472);
    padding: 7px;
    border-radius: 50px;
}
.nav-part2>button{
    text-align: center;
    padding: 6px 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-weight: 600;
}
.btn1{
    background-color: white;
}
.btn2{
    background-color: rgba(0, 0, 0, 0.472);
    color: white;
}
.btn2>i{
   font-size: 18px;
}
.name{
    margin-top: 10vh;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    /* background-color: mediumpurple; */
}
.song-img{
   width: 16%;
   height: 80%; 
   margin: 0 25px;
   /* background-color: red; */
}
.song-img>img{
    width: 100%;
    height: 100%;
    object-fit: inherit;
    object-position: center;
    box-shadow: 0px 0px 5px rgba(3, 3, 3, 0.456);
}
.song-name{
    margin-top: 12vh;
    color: white;
}
.song-name>h1{
    font-size: 14vh;
}
.list{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(18, 18, 18, 0.404),rgb(18,18,18),rgb(18,18,18))
}

.footer{
    width: 100%;
    height: 15vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.foot1{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    /* background-color: aqua; */
    color: white;
}
.foot1>h3>p{
    font-size: 2vh;
    font-weight: 300;
}
.foot1>img{
    width: 20%;
    height: 90%;
    border-radius: 2px;
}
.foot1>i{
    font-size: 4vh;
    background-color: rgb(255, 0, 0);
    -webkit-background-clip: text;
    /* color: transparent; */
}
.foot1>i:hover{
    color: transparent;
    cursor: pointer;
}
.foot2{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    /* background-color: aqua; */
}
.controler>i{
    cursor: pointer;
    font-size: 3vh;
    margin: 0 15px;
}
.length{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    font-size: 1.8vh;
}
.line{
    cursor: pointer;
    width: 80%;
    height: 4px;
    border-radius: 20px;
    margin: 0 10px;
    background-color: rgba(225, 225, 225, 0.676);
}
.foot3{
    width: 25%;
    height: 100%;
    font-size: 3vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 15px;
    /* background-color: aqua; */
}
.foot3>i{
    margin: 0 10px;
    cursor: pointer;
}
.volume{
    cursor: pointer;
    width: 20%;
    height: 3px;
    background-color: rgba(226, 226, 226, 0.712);
}